<div class="container p-3 my-5">
    <h2>Daftar Contact</h2>
    <% if (msg.length !== 0) { %>
        <div class="alert alert-success my-3">
            <%= msg %>
        </div>
    <% } %>
    <a href="/contact/add" class="btn btn-primary">Tambah Contact</a>

    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Email</th>
                <th scope="col">Aksi</th>
            </tr>
        </thead>
        <tbody>
                <% contacts.forEach((contact, key) => { %>
                    <tr>
                        <th scope="row"><%= key + 1 %></th>
                        <td><%= contact.nama %></td>
                        <td><%= contact.email %></td>
                        <td>
                            <a href="/contact/detail/<%= contact.id %>" class="btn btn-success badge">detail</a>
                        </td>
                    </tr>
                <% }) %>
        </tbody>
    </table>
</div>